<div class="page no-navbar page-with-toolbar">
	<div class="toolbar tabbar tabbar-labels toolbar-bottom-md custom-toolbar">
		<div class="toolbar-inner">
			<a href="/" class="tab-link">
				<i class="material-icons">home</i>
				<span class="tabbar-label">Home</span>
			</a>
			<a href="/home_2/" class="tab-link">
				<i class="material-icons">note</i>
				<span class="tabbar-label">Home 2</span>
			</a>
			<a href="/books_list/" class="tab-link tab-link-active">
				<i class="material-icons">book</i>
				<span class="tabbar-label">Books</span>
			</a>
			<a href="/bookshelf/" class="tab-link">
				<i class="material-icons">bookmark</i>
				<span class="tabbar-label">Bookshelf</span>
			</a>
			<a href="/pages/" class="tab-link">
				<i class="material-icons">pages</i>
				<span class="tabbar-label">Pages</span>
			</a>
		</div>
	</div>
	<div class="page-content">
		<div class="block search-bar-with-icon display-flex justify-content-space-between align-items-center">
			<div class="search-bar">
				<input type="text" placeholder="Search by title, author or series">
				<i class="material-icons">search</i>
				<span class="input-clear-button margin-right"></span>
			</div>
			<a href="/cart/"><i class="material-icons">add_shopping_cart</i></a>
		</div>
		
		<div class="section padding-left padding-right mb">
			<div class="section-title display-flex justify-content-space-between align-items-center">
				<h2>1058 Books</h2>
				<div class="display-style">
					<a href="#" class="display-style-active" data-display="list"><i class="material-icons">view_list</i></a>
					<a href="#" data-display="grid"><i class="material-icons">view_module</i></a>
				</div>
			</div>
			<div class="section-content">
				<div class="books-list">
								
					<div class="book-list display-flex">
						<div class="book-img">
							<img src="{{ url_for('static', filename='img/8.jpg') }}" alt="list1" class="object-fit">
						</div>
						<div class="book-infos">
							<div class="book-title">
								<a href="/free_book_single/">Drawing the head and hands</a>
							</div>
							<div class="book-author">Andrew Loomis</div>
							<div class="book-description">
								Loomis is revered amongst artists including the great painter Norman ...
							</div>
						</div>
					</div>
					
					<div class="book-list display-flex">
						<div class="book-img">
							<img src="{{ url_for('static', filename='img/9.jpg') }}" alt="list9" class="object-fit">
						</div>
						<div class="book-infos">
							<div class="book-title">
								<a href="/free_book_single/">Crazy Rich Asians</a>
							</div>
							<div class="book-author">Kevin Kwan</div>
							<div class="book-description">
								Crazy Rich Asians is the outrageously funny debut novel about three super-rich ...
							</div>
						</div>
					</div>
					
					<div class="book-list display-flex">
						<div class="book-img">
							<img src="{{ url_for('static', filename='img/10.jpg') }}" alt="list10" class="object-fit">
						</div>
						<div class="book-infos">
							<div class="book-title">
								<a href="/free_book_single/">Wonder</a>
							</div>
							<div class="book-author">R J Palacio</div>
							<div class="book-description">
								Read the internationally bestselling book before you watch the major movie  ...
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
