<div class="page no-navbar page-with-toolbar">
	<div class="toolbar tabbar tabbar-labels toolbar-bottom-md custom-toolbar">
		<div class="toolbar-inner">
			<a href="/" class="tab-link">
				<i class="material-icons">home</i>
				<span class="tabbar-label">Home</span>
			</a>
			<a href="/home_2/" class="tab-link">
				<i class="material-icons">note</i>
				<span class="tabbar-label">Home 2</span>
			</a>
			<a href="/books_list/" class="tab-link">
				<i class="material-icons">book</i>
				<span class="tabbar-label">Books</span>
			</a>
			<a href="/bookshelf/" class="tab-link">
				<i class="material-icons">bookmark</i>
				<span class="tabbar-label">Bookshelf</span>
			</a>
			<a href="/pages/" class="tab-link">
				<i class="material-icons">pages</i>
				<span class="tabbar-label">Pages</span>
			</a>
		</div>
	</div>
	<div class="page-content">
		<div class="back-page margin-top margin-bottom padding">
			<a href="#" class="link back text-color-black">
				<i class="material-icons">arrow_back</i>
			</a>
		</div>

		<div class="section padding-left padding-right mb">
			<div class="section-title display-flex justify-content-space-between align-items-center">
				<h2>3 Books in Cart</h2>
			</div>
			<div class="section-content">
				<div class="books-list books-list-cart">
								
					<div class="book-list display-flex">
						<div class="book-img">
							<img src="./img/8.jpg" alt="list1" class="object-fit">
						</div>
						<div class="book-infos">
							<div class="book-title">
								<a href="/free_book_single/">Drawing the head and hands</a>
							</div>
							<div class="book-author">Andrew Loomis</div>
							<div class="stepper stepper-small stepper-raised stepper-init color-black">
								<div class="stepper-button-minus"></div>
								<div class="stepper-input-wrap">
									<input type="text" value="0" min="0" max="100" step="1" readonly>
								</div>
								<div class="stepper-button-plus"></div>
							</div>
							<div class="book-price text-align-right">$9.13</div>
						</div>
					</div>
					
					<div class="book-list display-flex">
						<div class="book-img">
							<img src="./img/9.jpg" alt="list9" class="object-fit">
						</div>
						<div class="book-infos">
							<div class="book-title">
								<a href="/free_book_single/">Crazy Rich Asians</a>
							</div>
							<div class="book-author">Kevin Kwan</div>
							<div class="stepper stepper-small stepper-raised stepper-init color-black">
								<div class="stepper-button-minus"></div>
								<div class="stepper-input-wrap">
									<input type="text" value="0" min="0" max="100" step="1" readonly>
								</div>
								<div class="stepper-button-plus"></div>
							</div>
							<div class="book-price text-align-right">$9.13</div>
						</div>
					</div>
					
					<div class="book-list display-flex">
						<div class="book-img">
							<img src="./img/10.jpg" alt="list10" class="object-fit">
						</div>
						<div class="book-infos">
							<div class="book-title">
								<a href="/free_book_single/">Wonder</a>
							</div>
							<div class="book-author">R J Palacio</div>
							<div class="stepper stepper-small stepper-raised stepper-init color-black">
								<div class="stepper-button-minus"></div>
								<div class="stepper-input-wrap">
									<input type="text" value="0" min="0" max="100" step="1" readonly>
								</div>
								<div class="stepper-button-plus"></div>
							</div>
							<div class="book-price text-align-right">$9.13</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="section padding-left padding-right mb">
			<div class="section-title display-flex justify-content-space-between align-items-center">
				<h2>Shipping Info</h2>
			</div>
			<div class="section-content">
				<ul class="shipping-infos no-margin no-padding">
					<li>
						<span class="text-align-left">Shipping</span><span class="text-align-right">$10</span>
					</li>
					<li>
						<span class="text-align-left">Sub total</span><span class="text-align-right">$10</span>
					</li>
					<li class="shipping-infos-footer">
						<span class="text-align-left">Total</span><span class="text-align-right">$130</span>
					</li>
				</ul>
				
				<button class="col button button-big button-fill mt">start reading</button>
				
			</div>
		</div>
	</div>
</div>
