<div class="page no-navbar">
	<div class="page-content">
		<div class="section padding-left padding-right mt mb">
			<div class="section-content">
				<div class="cover-subtitle">Bookstore's picks</div>					
				<h2 class="cover-title margin-top mb">Best Books of the Month</h2>			
				<div class="books-list-2">
					<div class="row no-gap">
						<div class="col">
							<a href="/free_book_single/">
								<div class="book-list-2">
									<img src="./img/1.jpg" alt="y1" class="object-fit">
								</div>
							</a>
						</div>
						<div class="col">
							<a href="/free_book_single/">
								<div class="book-list-2">
									<img src="./img/2.jpg" alt="y2" class="object-fit">
								</div>
							</a>
						</div>
						<div class="col">
							<a href="/free_book_single/">
								<div class="book-list-2">
									<img src="./img/3.jpg" alt="y3" class="object-fit">
								</div>
							</a>
						</div>
					</div>
					
					<div class="row no-gap">
						<div class="col">
							<a href="/free_book_single/">
								<div class="book-list-2">
									<img src="./img/4.jpg" alt="y4" class="object-fit">
								</div>
							</a>
						</div>
						<div class="col">
							<a href="/free_book_single/">
								<div class="book-list-2">
									<img src="./img/5.jpg" alt="y5" class="object-fit">
								</div>
							</a>
						</div>
						<div class="col">
							<a href="/free_book_single/">
								<div class="book-list-2">
									<img src="./img/6.jpg" alt="y6" class="object-fit">
								</div>
							</a>
						</div>
					</div>
				</div>
				<a href="/" class="col button button-fill mt">start reading</a>
			</div>
		</div>
	</div>
</div>
