<!--------------------------------- Bottom Navigation Bar --------------------------------->
<div class="page no-navbar page-with-toolbar">
	<div class="toolbar tabbar tabbar-labels toolbar-bottom-md custom-toolbar">
		<div class="toolbar-inner">
			<a href="/" class="tab-link">
				<i class="material-icons">home</i>
				<span class="tabbar-label">Home</span>
			</a>
			<a href="/home_2/" class="tab-link tab-link-active">
				<i class="material-icons">note</i>
				<span class="tabbar-label">Home 2</span>
			</a>
			<a href="/books_list/" class="tab-link">
				<i class="material-icons">book</i>
				<span class="tabbar-label">Books</span>
			</a>
			<a href="/bookshelf/" class="tab-link">
				<i class="material-icons">bookmark</i>
				<span class="tabbar-label">Bookshelf</span>
			</a>
			<a href="/pages/" class="tab-link">
				<i class="material-icons">pages</i>
				<span class="tabbar-label">Pages</span>
			</a>
		</div>
	</div>
	<!------------------------------- End Bottom Navigation Bar ------------------------------->
	<div class="page-content">
		<div class="page-cover mb">
			<img src="{{ url_for('static', filename='img/bamboo_bg.jpg') }}" alt="page-cover" class="object-fit">
			
			<div class="page-cover-content">
			
				<div class="search-bar search-bar-transparent">
					<input type="text" placeholder="Search by title, author or series">
					<i class="material-icons">search</i>
					<span class="input-clear-button margin-right"></span>
				</div>
				
				<h1 class="bambook-font">Bambook</h1>
				
				<!--If it isn't so hard let's try to use JS here to get the time of the day
				and write 'Good <morning/afternoon/evening/night>' <name/username>-->
				<p>
					Good evening Assaf! ready to explore new books? 
				</p>
				
				<a href="/books_list/" class="col button button-big button-fill mt">start reading</a>
				
			</div>
		</div>

		<div class="section padding-left padding-right mb">
			<div class="section-title display-flex justify-content-space-between align-items-center">
				<h2>You Might Like</h2>
				<a href="/books_list/">View all</a>
			</div>
			<div class="section-content">
				<div class="books-list-2">
					<div class="row no-gap">
						<div class="col">
							<a href="/free_book_single/">
								<div class="book-list-2">
									<img src="{{ url_for('static', filename='img/books/available/1.jpg') }}"	alt="y1" class="object-fit">
								</div>
							</a>
						</div>
						<div class="col">
							<a href="/free_book_single/">
								<div class="book-list-2">
									<img src="{{ url_for('static', filename='img/books/available/2.jpg') }}" alt="y2" class="object-fit">
								</div>
							</a>
						</div>
						<div class="col">
							<a href="/free_book_single/">
								<div class="book-list-2">
									<img src="{{ url_for('static', filename='img/books/available/3.jpg') }}" alt="y3" class="object-fit">
								</div>
							</a>
						</div>
					</div>
					
					<div class="row no-gap">
						<div class="col">
							<a href="/free_book_single/">
								<div class="book-list-2">
									<img src="{{ url_for('static', filename='img/books/available/4.jpg') }}" alt="y4" class="object-fit">
								</div>
							</a>
						</div>
						<div class="col">
							<a href="/free_book_single/">
								<div class="book-list-2">
									<img src="{{ url_for('static', filename='img/books/available/5.jpg') }}" alt="y5" class="object-fit">
								</div>
							</a>
						</div>
						<div class="col">
							<a href="/free_book_single/">
								<div class="book-list-2">
									<img src="{{ url_for('static', filename='img/books/available/6.jpg') }}" alt="y6" class="object-fit">
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="section mb">
			<div class="section-content">
			
				<div class="custom-tab padding-left padding-right">
					<a href="#p" class="tab-link tab-link-active">Popular</a>
					<a href="#pa" class="tab-link">Nearest</a> <!-- was paid books, don't change the ID -->
					<a href="#f" class="tab-link">New</a> <!-- was free books, don't change the ID -->
				</div>
				
				<div class="tabs-animated-wrap">
					<div class="tabs">
						<!--------------------- Popular Section --------------------->
						<div id="p" class="tab tab-active">
							<div class="block no-margin books-list">
						
								<div class="book-list book-list-small display-flex">
									<div class="book-img">
										<img src="{{ url_for('static', filename='img/books/available/7.jpg') }}" alt="list8" class="object-fit">
									</div>
									<div class="book-infos">
										<div class="book-title">
											<a href="/free_book_single/">Cleaning Up Your Mental Mess</a>
										</div>
										<div class="book-author">Dr. Caroline Leaf</div>
										<div class="book-rating">
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<span>
												4.2/5
											</span>
										</div>
									</div>
								</div>
								<div class="book-list book-list-small display-flex">
									<div class="book-img">
										<img src="{{ url_for('static', filename='img/books/available/8.jpg') }}" alt="list9" class="object-fit">
									</div>
									<div class="book-infos">
										<div class="book-title">
											<a href="/paid_book_single/">Bridgerton: The Duke and I</a>
										</div>
										<div class="book-author">Julia Quinn</div>
										<div class="book-rating">
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<span>
												3.9/5
											</span>
										</div>
										<div class="book-price">
											Popular!
										</div>
									</div>
								</div>
									
								<div class="book-list book-list-small display-flex">
									<div class="book-img">
										<img src="{{ url_for('static', filename='img/books/available/9.jpg') }}" alt="list10" class="object-fit">
									</div>
									<div class="book-infos">
										<div class="book-title">
											<a href="/free_book_single/">The Chimp Paradox</a>
										</div>
										<div class="book-author">Steve Peters</div>
										<div class="book-rating">
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<span>
												4/5
											</span>
										</div>
									</div>
								</div>
									
							</div>
						</div>
						<!--------------------- End Popular Section --------------------->

						<!----------------------- Nearest Section ----------------------->
						<div id="pa" class="tab">
							<div class="block no-margin books-list">
								<div class="book-list book-list-small display-flex">
									<div class="book-img">
										<img src="{{ url_for('static', filename='img/books/available/2.jpg') }}" alt="list1" class="object-fit">
									</div>
									<div class="book-infos">
										<div class="book-title">
											<a href="/paid_book_single/">A Game of Thrones: Book 1 of A Song of Ice and Fire</a>
										</div>
										<div class="book-author">George R. R. Martin</div>
										<div class="book-rating">
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star_half</i>
											<span>
												4.4/5
											</span>
										</div>
										<div class="book-price">
											500 meters away
										</div>
									</div>
								</div>
								
								<div class="book-list book-list-small display-flex">
									<div class="book-img">
										<img src="{{ url_for('static', filename='img/books/available/4.jpg') }}" alt="list2" class="object-fit">
									</div>
									<div class="book-infos">
										<div class="book-title">
											<a href="/paid_book_single/">The Silent Patient</a>
										</div>
										<div class="book-author">Alex Michaelides</div>
										<div class="book-rating">
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<span>
												4.1/5
											</span>
										</div>
										<div class="book-price">
											900 meters away
										</div>
									</div>
								</div>
								
								<div class="book-list book-list-small display-flex">
									<div class="book-img">
										<img src="{{ url_for('static', filename='img/books/available/6.jpg') }}" alt="list3" class="object-fit">
									</div>
									<div class="book-infos">
										<div class="book-title">
											<a href="/paid_book_single/">The Midnight Library</a>
										</div>
										<div class="book-author">Matt Haig</div>
										<div class="book-rating">
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star_half</i>
											<span>
												4.2/5
											</span>
										</div>
										<div class="book-price">
											1.5 kilometers away
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<!--------------------- End Nearest Section --------------------->

						<!------------------------- New Section ------------------------->
						<div id="f" class="tab">
							<div class="block no-margin books-list">
								<div class="book-list book-list-small display-flex">
									<div class="book-img">
										<img src="{{ url_for('static', filename='img/books/available/3.jpg') }}" alt="lista8" class="object-fit">
									</div>
									<div class="book-infos">
										<div class="book-title">
											<a href="/free_book_single/">1984</a>
										</div>
										<div class="book-author">George Orwell</div>
										<div class="book-rating">
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star_half</i>
											<span>
												4.2/5
											</span>
										</div>
									</div>
								</div>
								<div class="book-list book-list-small display-flex">
									<div class="book-img">
										<img src="{{ url_for('static', filename='img/books/available/5.jpg') }}" alt="lista9" class="object-fit">
									</div>
									<div class="book-infos">
										<div class="book-title">
											<a href="/free_book_single/">The Laws of Human Nature</a>
										</div>
										<div class="book-author">Robert Greene</div>
										<div class="book-rating">
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star_half</i>
											<span>
												4.4/5
											</span>
										</div>
									</div>
								</div>
									
								<div class="book-list book-list-small display-flex">
									<div class="book-img">
										<img src="{{ url_for('static', filename='img/books/available/7.jpg') }}" alt="lista10" class="object-fit">
									</div>
									<div class="book-infos">
										<div class="book-title">
											<a href="/free_book_single/">Cleaning Up Your Mental Mess</a>
										</div>
										<div class="book-author">Dr. Caroline Leaf</div>
										<div class="book-rating">
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star</i>
											<i class="material-icons">star_half</i>
											<span>
												4.5/5
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!----------------------- End New Section ----------------------->
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="section padding-left padding-right mb">
			<div class="section-title display-flex justify-content-space-between align-items-center">
				<h2>Genres</h2>
				<a href="#">View all</a>
			</div>
			<div class="section-content">
				
				<div class="genres">
					<div class="row">
						<div class="col">
							<a href="#" class="genre">
								Romance
							</a>
						</div>
						<div class="col">
							<a href="#" class="genre">
								Fantasy
							</a>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<a href="#" class="genre">
								Short Stories
							</a>
						</div>
						<div class="col">
							<a href="#" class="genre">
								Mystery
							</a>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<a href="#" class="genre">
								Biography
							</a>
						</div>
						<div class="col">
							<a href="#" class="genre">
								Historical
							</a>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<a href="#" class="genre">
								True Story
							</a>
						</div>
						<div class="col">
							<a href="#" class="genre">
								Psychology
							</a>
						</div>
					</div>
					
				</div>
				
				
			</div>
		</div>
							
	</div>
</div>
