<div class="page no-navbar page-with-toolbar">
	<div class="toolbar tabbar tabbar-labels toolbar-bottom-md custom-toolbar">
		<div class="toolbar-inner">
			<a href="/" class="tab-link">
				<i class="material-icons">home</i>
				<span class="tabbar-label">Home</span>
			</a>
			<a href="/home_2/" class="tab-link">
				<i class="material-icons">note</i>
				<span class="tabbar-label">Home 2</span>
			</a>
			<a href="/books_list/" class="tab-link">
				<i class="material-icons">book</i>
				<span class="tabbar-label">Books</span>
			</a>
			<a href="/bookshelf/" class="tab-link">
				<i class="material-icons">bookmark</i>
				<span class="tabbar-label">Bookshelf</span>
			</a>
			<a href="/pages/" class="tab-link tab-link-active">
				<i class="material-icons">pages</i>
				<span class="tabbar-label">Pages</span>
			</a>
		</div>
	</div>
	<div class="page-content">
		<div class="section padding-left padding-right mb mt">
			<div class="section-title display-flex justify-content-space-between align-items-center">
				<h2>List of pages</h2>
			</div>
			<div class="section-content">
				<div class="list media-list review-list no-margin">
					<ul>
						<li>
							<a href="/" class="item-link item-content no-padding">
								<div class="item-media">
									<div class="item-media-icon bg-color-blue">
										<i class="text-color-white icon material-icons">home</i>
									</div>
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Homepage</div>
									</div>
									<div class="item-text">
										Facer eirmod vix eu, ne ferri quidam vis. Mea idque nulla liberavisse cu Mea idque nulla liberavisse cu
									</div>
								</div>
							</a>
						</li>
						
						<li>
							<a href="/home_2/" class="item-link item-content no-padding">
								<div class="item-media">
									<div class="item-media-icon bg-color-green">
										<i class="text-color-white icon material-icons">home</i>
									</div>
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Homepage V2</div>
									</div>
									<div class="item-text">
										Facer eirmod vix eu, ne ferri quidam vis. Mea idque nulla liberavisse cu Mea idque nulla liberavisse cu
									</div>
								</div>
							</a>
						</li>
						
						<li>
							<a href="/books_list/" class="item-link item-content no-padding">
								<div class="item-media">
									<div class="item-media-icon bg-color-red">
										<i class="text-color-white icon material-icons">book</i>
									</div>
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">List of books</div>
									</div>
									<div class="item-text">
										Facer eirmod vix eu, ne ferri quidam vis. Mea idque nulla liberavisse cu Mea idque nulla liberavisse cu
									</div>
								</div>
							</a>
						</li>
						
						<li>
							<a href="/bookshelf/" class="item-link item-content no-padding">
								<div class="item-media">
									<div class="item-media-icon bg-color-red">
										<i class="text-color-white icon material-icons">bookmark</i>
									</div>
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Bookshelf</div>
									</div>
									<div class="item-text">
										Facer eirmod vix eu, ne ferri quidam vis. Mea idque nulla liberavisse cu Mea idque nulla liberavisse cu
									</div>
								</div>
							</a>
						</li>
						
						<li>
							<a href="/cart/" class="item-link item-content no-padding">
								<div class="item-media">
									<div class="item-media-icon bg-color-pink">
										<i class="text-color-white icon material-icons">shopping_cart</i>
									</div>
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Cart</div>
									</div>
									<div class="item-text">
										Facer eirmod vix eu, ne ferri quidam vis. Mea idque nulla liberavisse cu Mea idque nulla liberavisse cu
									</div>
								</div>
							</a>
						</li>
						
						<li>
							<a href="/cover/" class="item-link item-content no-padding">
								<div class="item-media">
									<div class="item-media-icon bg-color-blue">
										<i class="text-color-white icon material-icons">stars</i>
									</div>
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Cover</div>
									</div>
									<div class="item-text">
										Facer eirmod vix eu, ne ferri quidam vis. Mea idque nulla liberavisse cu Mea idque nulla liberavisse cu
									</div>
								</div>
							</a>
						</li>
						
						<li>
							<a href="/free_book_single/" class="item-link item-content no-padding">
								<div class="item-media">
									<div class="item-media-icon bg-color-green">
										<i class="text-color-white icon material-icons">bookmark_border</i>
									</div>
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Free Book Single</div>
									</div>
									<div class="item-text">
										Facer eirmod vix eu, ne ferri quidam vis. Mea idque nulla liberavisse cu Mea idque nulla liberavisse cu
									</div>
								</div>
							</a>
						</li>
						
						<li>
							<a href="/paid_book_single/" class="item-link item-content no-padding">
								<div class="item-media">
									<div class="item-media-icon bg-color-black">
										<i class="text-color-white icon material-icons">folder</i>
									</div>
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Paid Book Single</div>
									</div>
									<div class="item-text">
										Facer eirmod vix eu, ne ferri quidam vis. Mea idque nulla liberavisse cu Mea idque nulla liberavisse cu
									</div>
								</div>
							</a>
						</li>
						
						<li>
							<a href="/profile/" class="item-link item-content no-padding">
								<div class="item-media">
									<div class="item-media-icon bg-color-red">
										<i class="text-color-white icon material-icons">person</i>
									</div>
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Profile</div>
									</div>
									<div class="item-text">
										Facer eirmod vix eu, ne ferri quidam vis. Mea idque nulla liberavisse cu Mea idque nulla liberavisse cu
									</div>
								</div>
							</a>
						</li>
						
						<li>
							<a href="/reading/" class="item-link item-content no-padding">
								<div class="item-media">
									<div class="item-media-icon bg-color-blue">
										<i class="text-color-white icon material-icons">markunread</i>
									</div>
								</div>
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">Reading</div>
									</div>
									<div class="item-text">
										Facer eirmod vix eu, ne ferri quidam vis. Mea idque nulla liberavisse cu Mea idque nulla liberavisse cu
									</div>
								</div>
							</a>
						</li>
						
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
