<div class="page no-navbar page-with-toolbar">
	<div class="toolbar tabbar tabbar-labels toolbar-bottom-md custom-toolbar">
		<div class="toolbar-inner">
			<a href="/" class="tab-link">
				<i class="material-icons">home</i>
				<span class="tabbar-label">Home</span>
			</a>
			<a href="/home_2/" class="tab-link">
				<i class="material-icons">note</i>
				<span class="tabbar-label">Home 2</span>
			</a>
			<a href="/books_list/" class="tab-link">
				<i class="material-icons">book</i>
				<span class="tabbar-label">Books</span>
			</a>
			<a href="/bookshelf/" class="tab-link">
				<i class="material-icons">bookmark</i>
				<span class="tabbar-label">Bookshelf</span>
			</a>
			<a href="/profile/" class="tab-link">
				<i class="material-icons">pages</i>
				<span class="tabbar-label">Pages</span>
			</a>
		</div>
	</div>
	<div class="page-content">
		<div class="section padding-left padding-right mb mt">
			<div class="section-title display-flex justify-content-space-between align-items-center">
				<h2>Profile</h2>
			</div>
			<div class="section-content">
				<div class="profile">
					<img src="{{ url_for('static', filename='img/avatars/Avatar-8.png') }}" alt="profil">
					<div class="user-name">Zoe Queen</div>
					<div class="user-work">web developer and graphic designer</div>
					<div class="user-stats display-flex justify-content-space-around align-items-center">
						<div class="user-stat">
							<span>5</span>
							<span>Books swapped</span>
						</div>
						<div class="user-stat">
							<span>3</span>
							<span>Ready to swap</span>
						</div>
						<div class="user-stat">
							<span>2</span>
							<span>Want to read</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="border mt"></div>
		<!---------------------------------------------- User's info -------------------------------------------->
		<div class="section padding-left padding-right mb mt">
			<div class="section-title display-flex justify-content-space-between align-items-center">
				<h2>About Me</h2>
			</div>
			<div class="section-content">
				<p>
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				</p>
			</div>
			<br>
			<!---------------------------------------------- User's favourite genres -------------------------------------------->
			<div class="section-title display-flex justify-content-space-between align-items-center">
				<h2>Favourite Genres</h2>
				<!-- <a href="#">View all</a> -->
			</div>
			<div class="section-content">
				
				<div class="genres">
					<div class="row">
						<div class="col">
							<a href="#" class="genre">
								Romance
							</a>
						</div>
						<div class="col">
							<a href="#" class="genre">
								Fantasy
							</a>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<a href="#" class="genre">
								Short Stories
							</a>
						</div>
						<div class="col">
							<a href="#" class="genre">
								Mystery
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!---------------------------------------------- The books the user posted for exchange -------------------------------------------->
		<div class="section padding-left padding-right mb mt">
			<div class="section-title display-flex justify-content-space-between align-items-center">
				<h2>Ready to swap</h2>
			</div>
			<div class="section-content">
				<div class="books-grid books-grid-slide">		
					<div data-pagination="{&quot;el&quot;: &quot;.swiper-pagination&quot;}" data-space-between="10" data-slides-per-view="2.15" class="swiper-container swiper-init swiper-container-horizontal">
						<div class="swiper-wrapper">
						
							<div class="swiper-slide">
								<div class="book-grid">
									<div class="book-img">
										<img src=" {{ url_for('static', filename='img/books/available/3.jpg') }}" alt="1z" class="object-fit">
									</div>
								</div>
							</div>
							
							<div class="swiper-slide">
								<div class="book-grid">
									<div class="book-img">
										<img src=" {{ url_for('static', filename='img/books/available/5.jpg') }}" alt="1zz" class="object-fit">
									</div>
								</div>
							</div>
							
							<div class="swiper-slide">
								<div class="book-grid">
									<div class="book-img">
										<img src=" {{ url_for('static', filename='img/books/available/7.jpg') }}" alt="1zzz" class="object-fit">
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="border mt"></div>
		<!-------------------------------------------------- User's Wish list ------------------------------------------------>
		<div class="section padding-left padding-right mb mt">
			<div class="section-title display-flex justify-content-space-between align-items-center">
				<h2>Want to read</h2>
			</div>
			<div class="section-content">
				<div class="books-grid books-grid-slide">		
					<div data-pagination="{&quot;el&quot;: &quot;.swiper-pagination&quot;}" data-space-between="10" data-slides-per-view="2.15" class="swiper-container swiper-init swiper-container-horizontal">
						<div class="swiper-wrapper">
						
							<div class="swiper-slide">
								<div class="book-grid">
									<div class="book-img">
										<img src=" {{ url_for('static', filename='img/books/available/9.jpg') }}" alt="1z" class="object-fit">
									</div>
								</div>
							</div>
							
							<div class="swiper-slide">
								<div class="book-grid">
									<div class="book-img">
										<img src=" {{ url_for('static', filename='img/books/available/10.jpg') }}" alt="1zz" class="object-fit">
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
