<div class="page no-navbar">
	<div class="page-content" id="reading">
		<div class="back-page margin-top margin-bottom padding  display-flex justify-content-space-between align-items-center">
			<a href="#" class="link back text-color-black">
				<i class="material-icons">arrow_back</i>
			</a>
			<a href="#" class="sheet-open" data-sheet=".sheet-settings"><i class="material-icons">settings</i></a>
		</div>

		<div class="section padding-left padding-right mb book-detail">
			<div class="section-content">
								
				<div data-pagination="{&quot;el&quot;: &quot;.swiper-pagination&quot;}" data-space-between="10" data-slides-per-view="1" class="swiper-container swiper-init swiper-container-horizontal">
					<div class="swiper-wrapper">
					
						<div class="swiper-slide">
							<h3 class="text-align-center">Chapter One: The Riddle House</h3>
							
							<div class="reading-text padding-top">
								The Riddle House stands on a hilltop in Little Hangleton. Much mystery has arisen around it. Fifty years ago, its inhabitants, the Riddle family, were killed in a most mysterious manner, leaving no signs of bodily harm, seeming almost as if they had been frightened to death. The villagers instantly suspected Frank Bryce, the Riddles' stiff and misanthropic gardener, and even after he was questioned and found innocent, the villagers still mistrusted him, and the village boys often bothered him.
							</div>
							
						</div>
						
						<div class="swiper-slide">
							<h3 class="text-align-center">Chapter Two: The Riddle House</h3>
							
							<div class="reading-text padding-top">
								The Riddle House stands on a hilltop in Little Hangleton. Much mystery has arisen around it. Fifty years ago, its inhabitants, the Riddle family, were killed in a most mysterious manner, leaving no signs of bodily harm, seeming almost as if they had been frightened to death. The villagers instantly suspected Frank Bryce, the Riddles' stiff and misanthropic gardener, and even after he was questioned and found innocent, the villagers still mistrusted him, and the village boys often bothered him.
							</div>
							
						</div>
						
					</div>
				</div>
				
				<div class="reading-infos">
					<p>Slide to left to continue reading</p>
				</div>				
				
			</div>
		</div>
				
	</div>
	
	<div class="sheet-modal sheet-settings">
		<div class="toolbar color-transparent">
			<div class="toolbar-inner">
				<div class="left"></div>
				<div class="right"><a class="link sheet-close text-color-blue" href="#">Close</a></div>
			</div>
		</div>
		<div class="sheet-modal-inner">
			<div class="block no-margin">
				<div class="display-flex justify-content-space-between align-items-center">
					<a href="#" class="font-used">
						<span class="font-uppercase">A</span>
						<span class="font-lowercase">a</span>
						<span class="font-name">Libre Baskerville</span>
					</a>
					<div class="page-colors display-flex">
						<a href="#" class="color" style="background:#e2e3e7"></a>
						<a href="#" class="color" style="background:#fcead4"></a>
						<a href="#" class="color" style="background:#e3e0d1"></a>
					</div>
				</div>
				<div class="controlls">
					<div class="controll">
						
						<div class="list simple-list no-hairlines no-hairlines-between no-margin-bottom">
							<ul>
								<li class="no-padding">
									<div class="item-cell width-auto flex-shrink-0">
										<i class="icon material-icons">sort_by_alpha</i>
									</div>
									<div class="item-cell flex-shrink-3">
										<div class="range-slider range-slider-init" id="font-size">
											<input type="range" min="0" max="100" step="1" value="14">
										</div>
									</div>
									<div class="item-cell width-auto flex-shrink-0">
										<i class="icon material-icons">sort_by_alpha</i>
									</div>
								</li>
								
								<li class="no-padding">
									<div class="item-cell width-auto flex-shrink-0">
										<i class="icon material-icons">brightness_low</i>
									</div>
									<div class="item-cell flex-shrink-3">
										<div class="range-slider range-slider-init">
											<input type="range" min="0" max="100" step="1" value="10">
										</div>
									</div>
									<div class="item-cell width-auto flex-shrink-0">
										<i class="icon material-icons">brightness_1</i>
									</div>
								</li>
								
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
  
</div>
